---
import AboutMe from '../components/AboutMe.astro';
import Experience from '../components/Experience.astro';
import Header from '../components/Header.astro';
import Hobbies from '../components/Hobbies.astro';
import Skills from '../components/Skills.astro';
import Studies from '../components/Studies.astro';
import Layout from '../layouts/Layout.astro';

const title = "Alvaro's Portfolio";
const sections = [
  {
    id: 'about-me',
  },
    {
      id: 'experience',
    },
  //   {
  //     id: 'hobbies',
  //   },
  //   {
  //     id: 'skills',
  //   },
  //   {
  //     id: 'studies',
  //   }
];
---

<Layout title={title}>
  <Header />
  <main>
  {sections.map((section) => (
    <section id={section.id}>
      {section.id === 'about-me' && <AboutMe />}
      {section.id === 'experience' && <Experience />}
      {section.id === 'hobbies' && <Hobbies />}
      {section.id === 'skills' && <Skills />}
      {section.id === 'studies' && <Studies />}
    </section>
  ))}
  </main>
</Layout>

<style>
  main {
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
  }
  section {
    padding: var(--section-spacing) 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
