---
const intro = `
    Hi, I'm Alvaro, software engineer and gamer in my free time.
`;
const work = `
    I am always looking for new challenges, technologies and opportunities.
`;
---

<h1 class="title">
  Software <span class="blue-green">Eng</span><span class="yellow-orange">inee</span><span class="red">r</span>
</h1>
<h2 class="subtitle">& full stack developer</h2>


<div class="intro-container">
  <div class="intro-borders intro-top-left"></div>
  <div class="intro-borders intro-bottom-right"></div>
  <div class="intro-text">
    <p>{intro}</p>
    <p>{work}</p>
  </div>
</div>

<style>
  .title {
    font-size: clamp(2.5rem, 10vw, 8rem);
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.02em;
    font-family: 'lato';
  }
  .title span {
    opacity: 0.8;
  }
  .title .blue-green {
    background: linear-gradient(to right, var(--c-blue), var(--c-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title .yellow-orange {
    background: linear-gradient(to right, var(--c-yellow), var(--c-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title .red {
    color: var(--c-red);
  }
  .subtitle {
    font-size: clamp(1rem, 5vw, 4rem);
    line-height: 1;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-bottom: var(--space-md);
  }

  .intro-text {
    position: relative;
    padding: 20px;
    text-align: end;
    font-size: larger;
  }
  .intro-container {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;
  }

  .intro-borders {
    position: absolute;
    pointer-events: none;
  }

  /* Top and Left Borders */
  .intro-top-left {
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
  }

  .intro-top-left::before,
  .intro-top-left::after {
    content: '';
    position: absolute;
    background-color: white;
  }
  .intro-top-left::before {
    width: 60%;
    height: 2px;
    top: 0;
    left: 0;
  }
  .intro-top-left::after {
    width: 2px;
    height: 60%;
    top: 0;
    left: 0;
  }

  /* Bottom and Right Borders */
  .intro-bottom-right {
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
  }

  .intro-bottom-right::before,
  .intro-bottom-right::after {
    content: '';
    position: absolute;
    background-color: white; 
  }
  .intro-bottom-right::before {
    width: 60%;
    height: 2px;
    bottom: 0;
    right: 0;
  }
  .intro-bottom-right::after {
    width: 2px;
    height: 60%;
    bottom: 0;
    right: 0;
  }

</style>
