---
const imageUrl = '/path/to/your/photo.jpg';
const aboutMeText = `
    ¡Hola! Soy un desarrollador apasionado por la tecnología y la programación. 
    Me encanta aprender nuevas tecnologías y aplicarlas en proyectos interesantes. 
    En mi tiempo libre, disfruto de la lectura, el senderismo y explorar nuevas culturas. 
    Siempre estoy buscando nuevos desafíos y oportunidades para crecer profesionalmente.
`;
---

<div class="container-section">
  <div class="">
    <h2 class="section-title">Experience</h2>
  </div>

  <div id="box" class="box-experience">
    <div id="box-left" class="box-section">
      <a
        class="grid"
        href="https://schrankerl.at"
        target="_blank"
        rel="noopener"
      >
        <div class="flex flex-row justify-start items-center gap-2">
          <h3>Schrankerl</h3>
          <div class="link-icon">
            <svg
              width="40px"
              height="40px"
              viewBox="0 0 24 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 12C14 14.7614 11.7614 17 9 17H7C4.23858 17 2 14.7614 2 12C2 9.23858 4.23858 7 7 7H7.5M10 12C10 9.23858 12.2386 7 15 7H17C19.7614 7 22 9.23858 22 12C22 14.7614 19.7614 17 17 17H16.5"
                stroke="#cccccc"
                stroke-width="2"
                stroke-linecap="round"></path>
            </svg>
          </div>
        </div>

        <p>
          Company that offers freshly and varied food for companies, preparing
          custom menus base on preferencies and profiles.
        </p>
      </a>
    </div>
    <div id="box-rigth" class="box-section">
      <div class="flex flex-row justify-between">
        <h4>Software engineer</h4>
        <span>February 2022 / Present</span>
      </div>
      <p>
        Tech leader in charge of supervising my team members, ensuring that
        tasks are completed on time and take decisions abour our tools and
        software architecture. I also perform maintenance and quality tasks on
        our systems.
      </p>
    </div>
    <div class="box-extra">
      <div class="flex justify-center">
        <button>Show more</button>
      </div>
      <div id="tech-info">TODO set here technologies we use (with icons or something), and more info about what i did.
        Cover full width and height of the box to use max space.
      </div>
    </div>
  </div>
</div>

<style>
  :root {
    --text-company: #cccccc;
    --text-company-info: #5e636e;
    --text-other: #8f96a3;
  }

  button {
    padding: 3px;
    margin-bottom: 1px;
    width: 85%;
    background-color: var(--c-blue);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 0.75rem;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.3s;
  }

  button:hover {
    background-color: darken(var(--c-blue), 10%);
    /* transform: scale(1.05); */
  }

  button:active {
    background-color: darken(var(--c-blue), 20%);
    transform: scale(0.95);
  }
  .container-section {
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
  }
  .box-experience {
    min-width: 100%;
    border: 1px solid var(--c-blue);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 70px;
  }

  .box-experience:hover {
    animation:
      color-change 2s linear infinite alternate,
      /* border-move 4s linear infinite; */
  }

  @keyframes color-change {
    0% {
      background-color: initial;
    }
    100% {
      background-color: rgb(var(--raw-blue) / 13%);
    }
  }

  @keyframes border-move {
    0% {
      border-image: linear-gradient(90deg, var(--c-blue) 0%, transparent 100%) 1;
      border-radius: 20px;
    }
    25% {
      border-image: linear-gradient(180deg, var(--c-blue) 0%, transparent 100%)
        1;
      border-radius: 20px;
    }
    50% {
      border-image: linear-gradient(270deg, var(--c-blue) 0%, transparent 100%)
        1;
      border-radius: 20px;
    }
    75% {
      border-image: linear-gradient(360deg, var(--c-blue) 0%, transparent 100%)
        1;
      border-radius: 20px;
    }
    100% {
      border-image: linear-gradient(90deg, var(--c-blue) 0%, transparent 100%) 1;
      border-radius: 20px;
    }
  }

  .box-section {
    margin: 1rem;
    padding: 0 2rem;
    display: grid;
  }

  .box-extra {
    grid-column: span 2 / span 2;
    align-content: end;
  }
  #box-left h3 {
    font-size: 4vh;
    font-weight: 600;
    opacity: 0.8;
  }
  #box-left p {
    opacity: 0.8;
    font-weight: 500;
    font-family: monospace;
  }
  #box-rigth {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #box-rigth > div {
    font-size: 1.5rem;
    opacity: 0.7;
  }
  #box-rigth > p {
    opacity: 0.5;
  }

  .link-icon {
    opacity: 0;
    transition: opacity 0.3s;
  }

  #box-left:hover .link-icon {
    opacity: 1;
  }

  #tech-info {
    display: none;
  }
</style>
