---
interface LayoutProps {
  title: string;
}

const { title }: LayoutProps = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --background: #0e100f;
    --text: #ffffff;
    --space-xs: clamp(1rem, 2vw, 1.5rem);
    --space-sm: clamp(1.5rem, 3vw, 2rem);
    --space-md: clamp(2rem, 4vw, 3rem);
    --space-lg: clamp(3rem, 6vw, 4rem);
    --space-xl: clamp(4rem, 8vw, 6rem);
    --space-2xl: clamp(6rem, 10vw, 8rem);
    --section-spacing: var(--space-2xl);
    --c-blue: rgb(67 114 255);
    --c-green: rgb(0, 204, 0);
    --c-yellow: rgb(255, 255, 0);
    --c-orange: rgb(255, 102, 0);
    --c-red: rgb(204, 0, 0);
    --min-width-responsive-m: 769px;
    --min-width-responsive-xl: 1200px;
  }
  html {
    font-family: system-ui, sans-serif, serif, monospace, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji', 'Times New Roman', 'Courier New', 'Georgia', 'Verdana',
      'Tahoma', 'Trebuchet MS', 'Lucida Sans';
    height: 100%;
    width: 100%;
  }
  body {
    height: inherit;
    width: inherit;
    background: var(--background);
    color: var(--text);
  }

  .container {
    max-width: 1400px;
    margin: 0 2%;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .container-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
  }

  .section-title {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
</style>
